 .u-section-1 {
  min-height: 878px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 756px;
  margin: 109px auto 0;
}

.u-section-1 .u-image-1 {
  height: 545px;
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.875rem;
  background-image: none;
  font-weight: 700;
  margin: -545px auto 0;
  padding: 6px 17px 6px 16px;
}

.u-section-1 .u-image-2 {
  width: 31px;
  height: 30px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 932px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 130px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1090px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
    margin-top: 111px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -609px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 94px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 878px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 149px;
  }
}